html, body {
    margin: 0px;
    padding: 0px;
    min-width: 900px;
}

.menuClass{
    color: #5d5139;
    font-size: 14px;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin-right: 50px;
    min-width: 500px;
}

.menuClass li{
    height:24px;
    margin-top: 87px;
    margin-right: 40px;
    display:inline-block;
    float:right;
    cursor: pointer;
}

.menuClass li:hover{
    color: white;
}

.menuClassClicked{
    color: white;
}

.footerClass
{
    background-image:url(../image/footer.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:120px;
    width:100%;
    background-size:100% 120px;
    position: absolute;
    color: white;
}

.footerClass li
{   
    margin-top: 40px;
    display:inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.subFooterClass{
    background-image:url(../image/subFooter.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:800px;
    width:100%;
    background-size:100% 800px;
    position: relative;
    color: white;
}

.headerClass
{
    background-image:url(../image/header.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:130px;
    width:100%;
    background-size:100% 130px;
    position: fixed;
    top:0px;
    z-index: 99;
    -webkit-box-shadow: 0px 0px 8px 2px #000000; /*webkit is for chrome/safari/opera*/
       -moz-box-shadow: 0px 0px 8px 2px #000000; /*moz is for firefox*/
            box-shadow: 0px 0px 8px 2px #000000; /*all*/
}

.headerFlowerClass
{
    background-image:url(../image/flower.png);
    height:85px;
    width:425px;
    background-size:425px 85px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 100;
}

.contentClass
{   
    margin-top: 130px;
    position: relative;
    text-align: center;
}

.borderAll
{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.loadingStartClass{
    position: fixed;
    top:130px;
    height: 600px;
    width: 100%;
    background-image: url(../image/loading.gif);
    opacity: 0.6;
    z-index: 999;
}

.bannerClass{
    height:400px;
    width:100%;
    text-align: left;
    display:table-cell;
    vertical-align: middle;
}

.subFooterContentClass{
    width:100%;
    color: black;
}

.bannerClass p{
    margin-left: 10%;
    margin-right: 10%;
}

#nav { /*red*/
    list-style-type: none;
    text-align: left;
    width:220px;
    height:400px;
    
}

#nav li a { 
    color: black;
    text-decoration: none;
    display: block;
}

#nav li ul {

    display: none;
    list-style:none;
}

.mainLiClass{
    line-height: 50px;
    min-height: 50px;
    border-bottom: 2px solid #d6cdbd;
}

.mainLiClass a:hover{
    margin-top: 3px;
    display: block;
    height: 44px;
    background-color: #d6cdbd;
}

.subUlClass a:hover{
    background-color: #eeeeee;
    margin-bottom: 5px;
}

.subUlClass li{
    min-height: 40px;
}

.servicesPClass{
    margin-left: 50px;
    text-align: left;
    font-size:28px;
}

.mainLiClassActive{
    margin-top: 3px;
    display: block;
    height: 44px;
    background-color: #d6cdbd;
}