html, body {
    margin: 0px;
    padding: 0px;
    min-width: 900px;
}

.logoClass{
    background-image:url(../image/revivalLogo.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:90px;
    width:215px;
    background-size:200px 90px;
    position: fixed;
    top: 2px;
    left: 40px;
    z-index: 9999;
}

.backGroundClass{
    position: fixed;
    height: 2000px;
    width: 2000px;
    z-index: -1;
    background-color: #2b1e30;
}

.menuClass{
    color: #5d5139;
    font-size: 14px;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin-right: 50px;
    min-width: 500px;
}

.menuClass li{
    height:24px;
    margin-top: 87px;
    margin-right: 40px;
    display:inline-block;
    float:right;
    cursor: pointer;
}

.menuClass li:hover{
    color: white;
}

.menuClassClicked{
    color: white;
}

.footerClass
{
    background-image:url(../image/footer.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:120px;
    width:100%;
    background-size:100% 120px;
    position: absolute;
    color: white;
}

.footerClass li
{   
    margin-top: 40px;
    display:inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.subFooterClass{
    background-image:url(../image/subFooter.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:800px;
    width:100%;
    background-size:100% 800px;
    position: relative;
    color: white;
}

.headerClass
{
    background-image:url(../image/header.png);
    background-repeat:no-repeat;
    background-size: contain;
    height:130px;
    width:100%;
    background-size:100% 130px;
    position: fixed;
    top:0px;
    z-index: 9997;
    -webkit-box-shadow: 0px 0px 8px 2px #000000; /*webkit is for chrome/safari/opera*/
       -moz-box-shadow: 0px 0px 8px 2px #000000; /*moz is for firefox*/
            box-shadow: 0px 0px 8px 2px #000000; /*all*/
}

.headerFlowerClass
{
    background-image:url(../image/flower.png);
    height:85px;
    width:425px;
    background-size:425px 85px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 9998;
}

.contentClass
{   
    margin-top: 130px;
    position: relative;
    text-align: center;
    z-index: 999;
    background-color: white;
}

.borderAll
{
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.loadingStartClass{
    position: fixed;
    top:130px;
    height: 600px;
    width: 100%;
    background-image: url(../image/loading.gif);
    opacity: 0.6;
    z-index: 999;
}

.bannerClass{
    height:400px;
    width:100%;
    text-align: left;
    display:table-cell;
    vertical-align: middle;
}

.subFooterContentClass{
    width:100%;
    color: black;
}

.bannerClass p{
    margin-left: 10%;
    margin-right: 10%;
}

#nav { /*red*/
    list-style-type: none;
    text-align: left;
    width:220px;
    height:400px;
    
}

#nav li div { 
    background-color: transparent;
    text-decoration: none;
    display: block;
}

#nav li ul {

    display: none;
    list-style:none;
}

.mainLiClass{
    line-height: 50px;
    min-height: 50px;
}
.mainLiClass div{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mainLiClass div:hover{
    background-color: #d6cdbd !important;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.subUlClass div:hover{
    background-color: #eeeeee !important;
    display: block;
}

.subUlClass li{
    font-size: 14px;
    margin-left: -30px;
    display: block;
}

.subUlClass li div{
    font-weight: bold;
    background-color: transparent;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.sub2UlClass div:hover{
    background-color: #eeeeee !important;
    display: block;
}

.sub2UlClass li{
}

.sub2UlClass li div{
    font-weight: normal !important;
    color:#a08d55 !important;
    background-color: transparent;
    display: block;
}

.sub3UlClass div:hover{
    background-color: #eeeeee !important;
    display: block;
}

.sub3UlClass li{
}

.sub3UlClass li div{
    color:#bcbcb9 !important;
    background-color: transparent;
    display: block;
}

.mainLiClassActive{
    display: block;
    background-color: #d6cdbd !important;
    margin-top: 2px;
    margin-bottom: 2px;
}

.subUlClassActive{
    display: block;
}

.sub2UlClassActive{
    display: block;
}

.doctorsClass{
    min-height: 600px;
    min-width: 900px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
    text-align: center;
    color:#9d8758;
}

.aboutUsClass{
    min-height: 600px;
    min-width: 900px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
    text-align: center;
    color:#9d8758;
    margin:auto;
}

.serviceClass{
    min-height: 600px;
    min-width: 900px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
    text-align: center;
    margin:auto;
}

.aboutUsSubClass{

    height: 100%;
    width: 100%;
    background-color: white;
    padding:0px;
    border-spacing: 0px;
    position: relative;
    margin-top: 50px;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;

}

.listStyleNone{
    list-style-type: none;
    list-style: none;
}
.listStyleNone li:hover{
    background-color: #d6cdbd;
    cursor: pointer;
}
.aboutUsListClass{
    list-style-type: none;
    text-align: left;
    width:220px;
    height:400px;
}

.aboutUsListClass li a{
    color: black;
    text-decoration: none;
    display: block;
}

.aboutUsMainLiClass{
    line-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #d6cdbd;
    background-color: transparent;
    cursor: pointer;
}
.plusSignServiceClass{
    font-size: 11px;
    position:absolute;
    right:10px;

}
.plusSignClass{
    position:absolute;
    right:10px;
}

.tempoHoverClass{
    display:inline-block; 
    vertical-align:top;  
    margin-top:3px; 
    height:44px; 
    max-width:7px; 
    background-color:#d6cdbd;
    color: #d6cdbd;
    visibility: hidden;
    font-family:"Times New Roman", Times, serif;
}

.tempoClickClass{
    display:inline-block; 
    vertical-align:top;  
    margin-top:3px; 
    height:44px; 
    max-width:7px; 
    background-color:#d6cdbd;
    color: #d6cdbd;
    font-family:"Times New Roman", Times, serif;
}

.contactClass{

    height: 650px;
    width:1200px;
    background-color: #f2f2f2;
    text-align: left;
    margin: auto;
}
.contactDivClass{
    margin-left:155px; 
    margin-top:50px; 
    vertical-align:top; 
    display:inline-block; 
    text-align:center;
}

.contactSubHeaderClass{

    margin-top: 10px;
    color:#a08d55;
    line-height:25px; 
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

.contactLowestClass{

    color:#494949;
    font-family:"Courier New", Courier, monospace;
}

.borderTopBotClass{
    border-top: 50px solid white;
    border-bottom: 50px solid white;
}

.aHrefNoneClass{
    text-decoration: none;
    color: white;
}

.fontHelveticaClass{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fontRalewayClass{
    font-family: Raleway, sans-serif;
}

.fontCondensedClass{
    font-family: 'Open Sans Condensed', sans-serif;
}

.boxShadowClass{       /*right bottom width thickness*/
    -webkit-box-shadow: 5px 5px 20px 2px #bebebe; /*webkit is for chrome/safari/opera*/
       -moz-box-shadow: 5px 5px 20px 2px #bebebe; /*moz is for firefox*/
            box-shadow: 5px 5px 20px 2px #bebebe; /*all*/
}

.lightShadowClass{       /*right bottom width thickness*/
    -webkit-box-shadow: 1px 1px 2px 1px #444444; /*webkit is for chrome/safari/opera*/
       -moz-box-shadow: 1px 1px 2px 1px #444444; /*moz is for firefox*/
            box-shadow: 1px 1px 2px 1px #444444; /*all*/
}

.facebookClass{
    background-image:url(../image/facebook.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:190px;
    z-index: 9998;
    background-size: 40px 40px;
}

.facebookClass:hover{
    background-image:url(../image/facebookHover.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:190px;
    z-index: 9998;
    background-size: 40px 40px;
}

.twitterClass{
    background-image:url(../image/twitter.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:140px;
    z-index: 9998;
    background-size: 40px 40px;
}

.twitterClass:hover{
    background-image:url(../image/twitterHover.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:140px;
    z-index: 9998;
    background-size: 40px 40px;
}

.instagramClass{
    background-image:url(../image/instagram.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:90px;
    z-index: 9998;
    background-size: 40px 40px;
}

.instagramClass:hover{
    background-image:url(../image/instagramHover.png);
    width: 40px;
    height: 40px;
    position: fixed;
    top:22px;
    right:90px;
    z-index: 9998;
    background-size: 40px 40px;
}

.languageClass{
    color: rgb(138, 121, 38);
    position: fixed;
    top:33px;
    right:250px;
    z-index: 9998;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    cursor: pointer;
}

.languageClass:hover{
    color: white; 
    position: fixed;
    top:33px;
    right:250px;
    z-index: 9998;
    background:none;
    border:none;
    margin:0;
    padding:0;
    text-decoration: none;
    cursor: pointer;
}

.bannerContentClass{
    text-align: justify;
    color:rgb(235, 223, 203);
}

.contactMarginBottomClass{
    margin-bottom: 10px;
    color:#a08d55;
}
.doctorClass{
    width: 550px;
    cursor: pointer;
}
.doctorClass:hover{
    width: 550px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 2px 1px #444444; /*webkit is for chrome/safari/opera*/
       -moz-box-shadow: 1px 1px 2px 1px #444444; /*moz is for firefox*/
            box-shadow: 1px 1px 2px 1px #444444; /*all*/
}

.fontTrebuchetClass{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.plusSignDivClass{
    background-image: url(../image/plusSign.png);
    height: 25px;
    width: 25px;
    z-index: 99999;
    opacity: 0.7;
}

.moleClass{
    background-image: url(../image/mole.png);
    height:200px;
    width:400px;
    background-size: 400px 200px;
    position: absolute;
    top:220px;
    left: 510px;
    display: none;
}
.poreClass{
    background-image: url(../image/pore.png);
    height:200px;
    width:400px;
    background-size: 400px 200px;
    position: absolute;
    top:243px;
    left: 421px;
    display: none;
}

.acneClass{
    background-image: url(../image/acne.png);
    height:200px;
    width:400px;
    background-size: 400px 200px;
    position: absolute;
    top:343px;
    left:501px;
    display: none;
}

.saggingSkinClass{
    background-image: url(../image/saggingSkin.png);
    height:200px;
    width:400px;
    background-size: 400px 200px;
    position: absolute;
    top:343px;
    left:501px;
    display: none;
}